@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  height: 100%;
  background-color: #F2F2F2;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 20px;
  border: none;
  border-radius: 4px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.lead {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
}

.subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.description {
  color: #333333;
  text-align: center;
}

.page-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: -5px;
  z-index: 1;
}

.navigation-logo {
  display: block;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  padding: 8px 34px;
}

.navigation-button:hover {
  background-color: #615048;
}

.navigation-button:focus {
  background-color: #615048;
}

.navigation-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.sedona-logo {
  display: block;
}

.sedona-logo:hover {
  filter: drop-shadow(0 -3px 6px #5b839e);
}

.navigation {
  display: flex;
  flex-grow: 1;
  margin-left: 28px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-user {
  margin-left: auto;
}

.navigation-link {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  text-align: center;
  padding: 20px 16px;
}

.navigation-link-button {
  padding-right: 0;
  padding-left: 20px;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #756257;
  bottom: 1px;
  left: 16px;
  right: 16px;
  z-index: 1;
}

.navigation-link:hover {
  color: #82B3D3;
}

.navigation-link:focus {
  color: #82B3D3;
}

.navigation-link:active {
  color: #82B3D3;
  opacity: 30%;
}

.navigation-item {
  list-style: none;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
}

.search-link, .favorites-link {
  min-width: 44px;
  min-height: 64px;
  padding: 22px 12px;
}

.search-icon, .favorites-icon {
  display: flex;
  fill: #000000;
}

.search-icon:hover, .favorites-icon:hover {
  fill: #82B3D3;
}

.search-icon:focus, .favorites-icon:focus {
  box-shadow: 0 0 0 2px #82B3D3 inset;
}

.search-icon:active, .favorites-icon:active {
  fill: #82B3D3;
  opacity: 30%;
}

.favorites-number {
  position: absolute;
  top: 11px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
  padding: 4px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 20px;
}

.hero-block {
  position: relative;
  background-image: url(../images/hero-background.jpg);
  background-color:rgb(164, 211, 252);
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-block::after {
  position: absolute;
  content: "";
  background: url(../images/hero-divider.png) no-repeat;
  background-size: 100%;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 57px;
}

.advantages-title-wrapper {
  padding-top: 69px;
  padding-bottom: 69px;
  margin-bottom: 21px;
}

.advantages-title {
  width: 620px;
  margin-bottom: 25px;
}

.advantages-lead {
  width: 651px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item {
  flex-grow: 1;
  min-height: 385px;
}

.advantages-item:first-child, .advantages-item:last-child {
  display: flex;
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  margin: 0 auto;
  padding: 102px 85px;
  align-items: center;
  justify-content: center;
}

.advantages-subtitle:after, .white-subtitle:after {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item .white-subtitle::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.subtitle {
  position: relative;
  margin: 0;
  margin-bottom: 62px;
}

.description {
  margin: 0;
}

.white-subtitle, .white-description {
  color: #ffffff;
}

.street-image, .devil-bridge {
  display: block;
  width: 800px;
  height: 100%;
  object-fit: cover;
}

.background-basic {
  background-color: #82B3D3;
  display: flex;
}

.devil-bridge {
  order: -1;
}

.background-extra-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.background-extra-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.tips-title-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
}

.tips-title {
  width: 505px;
  margin-bottom: 20px;
}

.tips-lead {
  width: 490px;
}

.tips-list {
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.tips-item {
  position: relative;
  width: 400px;
  min-height: 223px;
  padding: 183px 85px 81px;
  flex-grow: 1;
}

.tips-item:nth-child(1)::after {
  position: absolute;
  content: url(../images/tips-icons/accommodation-icon.svg);
  left: 50%;
  transform: translate(-50%);
  top: 81px;
}

.tips-item:nth-child(2)::after {
  position: absolute;
  content: url(../images/tips-icons/food-icon.svg);
  left: 50%;
  transform: translate(-50%);
  top: 81px;
}

.tips-item:nth-child(3)::after {
  position: absolute;
  content: url(../images/tips-icons/souvenir-icon.svg);
  left: 50%;
  transform: translate(-50%);
  top: 81px;
}

.tips-subtitle {
  margin-bottom: 30px;
}

.booking-wrapper {
  width: 592px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.booking-title {
  margin-bottom: 20px;
}

.booking-lead {
  margin-bottom: 54px;
}

.booking-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  padding: 8px 50px;
}

.booking-button:hover {
  background-color: #615048;
  cursor: pointer;
}

.booking-button:focus-visible {
  background-color: #615048;
}

.booking-button:active {
  background-color: #756157;
  opacity: 30%;
}

.mailing {
  background-image: url(../images/mailing-background.jpg);
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.mailing-wrapper {
  width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.mailing-title {
  margin-bottom: 20px;
}

.mailing-lead {
  margin-bottom: 54px;
}

.mailing-form {
  display: flex;
  justify-content: center;
}

.mailing-form-field {
  min-width: 452px;
  padding: 14px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
}

.mailing-title, .mailing-lead {
  color: #ffffff;
}

.mailing-button {
  background-color: #82B3D3;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.mailing-button:hover {
  background-color: #68a2ca;
}

.mailing-button:focus {
  background-color: #68a2ca;
}

.mailing-button:active {
  background-color: #82b3d3;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-socials-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  max-width: 160px;
  min-height: 40px;
}

.socials-item-button {
  display: flex;
}

.vk-button {
  padding: 13px 12px;
}

.telegram-button {
  padding: 12px 15px;
}

.youtube-button {
  padding: 11.5px 13px;
}

.socials-item-img {
  fill: #83b3d3;
}

.socials-item-img:hover {
  fill: #68a2ca;
}

.social-item-img:focus {
  fill: #68a2ca;
}

.socials-item-img:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-socials-address {
  font-style: normal;
}

.footer-socials-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-socials-phone:hover {
  color: #756157;
}

.footer-socials-phone:focus {
  color: #756157;
}

.footer-socials-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-logo {
  fill: #000000;
}

.htmlacademy-logo:hover {
  fill: #756157;
}

.htmlacademy-logo:focus {
  fill: #756157;
}

.htmlacademy-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

/*Страница каталога*/

.filters-wrapper {
  background-image: url(../images/catalog-background.jpg);
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: cover;
  color:#ffffff;
  padding: 70px;
  padding-top: 35px;
  margin-bottom: 50px;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.breadcrumbs-item {
  position: relative;
  font-size: 16px;
  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 8px;
  height: 11px;
  background: url(../images/breadcrumbs-icons/right-arrow-icon.svg) no-repeat;
}

.breadcrumbs-link {
  color:#ffffff;
}

.breadcrumbs-home {
  display: block;
  min-width: 13px;
  min-height: 13px;
  background: url(../images/breadcrumbs-icons/home-icon.svg) no-repeat 50% 50%;
}

.breadcrumbs-home:hover {
  opacity: 60%;
}

.breadcrumbs-home:focus {
  color:#ffffff;
}

.breadcrumbs-home:active {
  opacity: 30%;
}

.catalog-form {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.catalog-form-group {
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 70px;
  width: 151px;
}

.catalog-form-group:nth-child(3) {
  margin-left: 70px;
  width: 288px;
}

.catalog-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-form-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 165px;
}

.catalog-form-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 18px;
  -webkit-user-select: none;
  user-select: none;
}

.control-check {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="radio"] + .control-check {
  border-radius: 50%;
}

.control-input[type="checkbox"]:checked + .control-check::after {
  position: absolute;
  content: "";
  width: 12.2px;
  height: 9.9px;
  left: calc(50% - 12.2px/2 + 0.1px);
  top: calc(50% - 9.9px/2 + 0.45px);
  background: url(../images/tick-icon.svg) no-repeat;
}

.control-input[type="radio"]:checked + .control-check::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
}

.range-price-wrapper {
  display: flex;
  justify-content: space-between;
  width: 288px;
  margin-bottom: 44px;
}

.price-label {
  position: relative;
}

.range-input {
  width: 143px;
  height: 48px;
  padding: 12px 50px 12px 20px;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.range-input-from {
  border-radius: 4px 0 0 4px;
}

.range-input-to {
  border-radius: 0 4px 4px 0;
}

.min-price-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  user-select: none;
}

.max-price-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  user-select: none;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  z-index: 1;
  width: 226px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.toggle-min {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.toggle-max {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.catalog-form-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 191px;
  gap: 29px;
}

.sort {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 40px;
}

.layout-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 160px;
}

.layout-item:not(:last-child) {
  margin-right: 8px;
}

.layout-button {
  display: block;
  width: 48px;
  height: 48px;
  border: #E5E5E5 solid 2px;
  border-radius: 4px;
  cursor: pointer;
}

.layout-button:hover {
  box-shadow: 0 0 0 2px #000000 inset;
}

.layout-button:focus {
  box-shadow: 0 0 0 2px #68a2ca inset;
}

.layout-button:active {
  box-shadow: 0 0 0 2px #000000 inset;
}

.layout-three {
  background: url(../images/layout-icons/layout-three-icon.svg) no-repeat 50% 50%;
}

.layout-one {
  background: url(../images/layout-icons/layout-one-icon.svg) no-repeat 50% 50%;
}

.layout-column {
  background: url(../images/layout-icons/layout-column-icon.svg) no-repeat 50% 50%;
}

.layout-current {
  box-shadow: 0 0 0 2px #000000 inset;
}

.product {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 20px;
  list-style: none;
  padding: 0;
  justify-content: start;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  width: 340px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.product-card:nth-child(3n) {
  margin-right: 0;
}

.product-rating {
  display: flex;
  width: 140px;
  height: 37px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.product-rating-star:not(:last-child) {
  margin-right: 6px;
}

.product-rating-star {
  background-image: url(../images/star-icon.svg);
  width: 18px;
  height: 17px;
}

.hotel-number {
  width: 338px;
  margin: 0;
  margin-right: auto;
}

.select-control {
  width: 292px;
  height: 49px;
  margin-right: 70px;
  margin-left: 20px;
  padding: 14px 50px 14px 20px;
  border: none;
  box-shadow: 0 0 0 2px #e6e6e6 inset;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: url(../images/down-select-icon.svg) no-repeat center right 20px;
  appearance: none;
  outline: none;
}

.select-control:hover {
  box-shadow: 0 0 0 2px #68a2ca inset;
}

.select-control:focus {
  box-shadow: 0 0 0 2px #68a2ca inset;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: url(../images/down-select-icon.svg) no-repeat center right 20px;
}

.control {
  line-height: 23px;
}

.accept-button {
  background-color: #82B3D3;
  padding: 8px 50px;
  cursor: pointer;
  font-size: 16px;
}

.accept-button:hover {
  background-color: #68a2ca;
}

.accept-button:focus {
  background-color: #68a2ca;
}

.accept-button:active {
  background-color: #82b3d3;
}

.reset-button {
  background-color: transparent;
  padding: 8px 50px;
  cursor: pointer;
  font-size: 16px;
}

.reset-button:hover {
  opacity: 60%;
}

.reset-button:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3 inset;
}

.reset-button:active {
  opacity: 30%;

  box-shadow: none;
}

.reset-button:disabled {
  opacity: 10%;
}

.reset-button:disabled:hover {
  cursor: default;
}

.hotel-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.product-card-image {
  margin-bottom: 16px;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.product-card-accommodation-type {
  color: #333333;
  width: 140px;
}

.details-button {
  display: block;
  background-color: #756157;
  font-size: 16px;
  padding: 8px 26px;
  width: 140px;
  cursor: pointer;
}

.details-button:hover {
  background-color: #615048;
}

.details-button:focus {
  background-color: #615048;
}

.details-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.in-favorites-button {
  background-color: #7DB54F;
  font-size: 16px;
  padding: 8px 18px;
  width: 140px;
  cursor: pointer;
}

.in-favorites-button:hover {
  background-color: #6c9e42;
}

.in-favorites-button:focus {
  background-color: #6c9e42;
}

.in-favorites-button:active {
  background-color: #7db54f;
}

.add-favorites-button {
  background-color: #82B3D3;
  font-size: 16px;
  padding: 8px 20px;
  width: 140px;
  cursor: pointer;
}

.add-favorites-button:hover {
  background-color: #68a2ca;
}

.add-favorites-button:focus {
  background-color: #68a2ca;
}

.add-favorites-button:active {
  background-color: #82b3d3;
}

.rating-button {
  background-color: #F2F2F2;
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  padding: 9px 22px 8px 23px;
  width: 140px;
}

.product-card-price {
  color: #333333;
  width: 140px;
  text-align: end;
}

.pagination {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  margin-top: 60px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 5px;
  min-width: 60px;
  min-height: 60px;
  text-align: center;
  border-radius: 4px;
}

.pagination-status:hover {
  background-color: #68A2CA;
}

.pagination-status:focus {
  background-color: #68A2CA;
}

.pagination-status:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-button {
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  border: none;
  width: 60px;
  height: 60px;
}

.catalog-mailing {
  background-image: none;
  background-color: #ffffff;
}

.catalog-mailing-title {
  color: #000000;
  margin-bottom: 20px;
}

.catalog-mailing-lead {
  color:#333333;
  margin-bottom: 54px;
}

/*Модальное окно*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal-hotel-search {
  position: relative;
  min-width: 717px;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgb(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}

.modal-close-image {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.modal-close-button:focus-visible {
  background-color: #e6e6e6;
  outline: #83b3d3 solid 3px;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:active svg {
  opacity: 30%;
}

.modal-content {
  width: 577px;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 64px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.modal-form {
  display: grid;
  grid-template-columns: 120px 1fr 1fr 120px 1fr;
  gap: 48px 17px;
  align-items: center;
}

.date-field-container {
  position: relative;
  grid-column: 2 / -1;
}

.tooltip-container {
  position: relative;
  grid-column: 4 / 5;
  margin-left: 5px;
}

.modal-form .button-submit {
  grid-column: 1 / -1;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
  background-color: #83B3D3;
  cursor: pointer;
}

.modal-form .button-submit:hover {
  background-color: #68A2CA;
}

.modal-form .button-submit:focus {
  background-color: #68A2CA;
}

.modal-form .button-submit:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.modal-form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal-input {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px;
  border: none;
  background-color: #f2f2f2;
}

.input-date {
  padding: 12px 60px 12px 20px;
  width: 100%;
  background-image: url(../images/calendar-icon.svg);
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.modal-input:hover {
  background-color: #e6e6e6;
}

.modal-input:focus-visible {
  background-color: #e6e6e6;
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3 inset;
}

.modal-input:disabled {
  background-color: #d2d2d2;
}

.modal-input:disabled::placeholder {
  color: rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  user-select: none;
}

.date-status {
  position: absolute;
  top: 35px;
  left: 20px;
  display: block;
  font-size: 16px;
  line-height: 21px;
}

.date-error {
  color: #ff5757;
}

.age-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 110px;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.age-container:last-of-type {
  grid-column: 5 / -1;
}

.modal-range-button {
  display: flex;
  position: relative;
  padding: 14px 10px;
  border: none;
  border-radius: 5px;
  background: none;
  align-items: center;
}

.plus-button, .minus-button {
  fill: #756157;
  fill-opacity: 0.3;
}

.plus-button:hover, .minus-button:hover {
  cursor: pointer;
  fill: #000000;
  fill-opacity: 1;
}

.modal-range-button .plus-button:focus-visible, .modal-range-button .minus-button:focus-visible {
  fill: #000000;
  fill-opacity: 1;
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.plus-button:active, .minus-button:active {
  fill: #756157;
  fill-opacity: 0.3;
}

.modal-input[type="number"] {
  -moz-appearance: textfield;
  width: 31px;
  padding: 14px 4px;
  text-align: center;
  line-height: 20px;
}

.modal-input[type="number"]::-webkit-outer-spin-button,
.modal-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.tooltip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
}

.tooltip-toggle {
  display: block;
  width: 26px;
  height: 26px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
}

.info-button {
  width: 100%;
  height: 50%;
  display: block;
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
}

.tooltip-toggle:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.tooltip-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  width: 256px;
  padding: 15px 18px 18px 22px;
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.tooltip-text:after {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 19px;
  height: 9px;
  background-image: url("../images/tooltip-arrow.svg");
}

.tooltip:hover .tooltip-text {
  display: block;
}
