@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  height: 100%;
  background-color: #F2F2F2;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 20px;
  padding: 8px 0;
  border: none;
  border-radius: 4px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.lead {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
}

.subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.description {
  color: #333333;
  text-align: center;
}

.page-header {
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  position: absolute;
  z-index: 2;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
}

.navigation {
  display: flex;
  margin-left: 184px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 340px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 312px;
  margin-left: auto;
}

.navigation-list:first-child .navigation-item:not(:nth-child(3n)) {
  margin-right: 32px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.navigation-item {
  list-style: none;
}

.hero-block {
  background-image: url(../images/hero-background.jpg);
  background-color:rgb(164, 211, 252);
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  text-align: center;
}

.advantages-title {
  width: 620px;
}

.advantages-lead {
  width: 651px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item {
  flex-grow: 1;
}

.advantages-item:first-child, .advantages-item:last-child {
  display: flex;
}

.advantages-wrapper {
  width: 230px;
  margin: 0 auto;
}

.white-subtitle, .white-description {
  color: #ffffff;
}

.street-image, .devil-bridge {
  display: block;
}

.background-basic {
  background-color: #82B3D3;
}

.background-extra-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.background-extra-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.tips-title {
  width: 505px;
}

.tips-lead {
  width: 490px;
}

.tips-list {
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.tips-item {
  width: 400px;
  padding: 81px 85px;
}

.booking {
  text-align: center;
  width: 592px;
  margin: 0 auto;
}

.booking-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
}

.mailing {
  background-image: url(../images/mailing-background.jpg);
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.mailing-wrapper {
  width: 684px;
  margin: 0 auto;
}

.mailing-title, .mailing-lead {
  color: #ffffff;
}

.mailing-button {
  background-color: #82B3D3;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.footer-socials-address {
  font-style: normal;
}

.footer-socials-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/*Страница каталога*/
.filters-wrapper {
  background-image: url(../images/catalog-background.jpg);
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: cover;
  color:#ffffff ;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  font-size: 16px;
}

.breadcrumbs-link {
  color:#ffffff;
}

.catalog-form {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.catalog-form-group {
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 70px;
  width: 151px;
}

.catalog-form-group:nth-child(3) {
  margin-left: 70px;
  width: 288px;
}

.catalog-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-form-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-form-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 191px;
}

.sort {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.hotel-number {
  width: 338px;
  margin-right: 200px;
}

.select-control {
  width: 292px;
  margin-right: 70px;
}

.layout-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 160px;
  justify-content: space-around;
}

.control {
  line-height: 23px;
}

.accept-button {
  background-color: #82B3D3;
}

.reset-button {
  background-color: transparent;
}

.hotel-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.details-button {
  background-color: #756157;
}

.in-favorites-button {
  background-color: #7DB54F;
}

.add-favorites-button {
  background-color: #82B3D3;
}

.rating-button {
  background-color: #F2F2F2;
  color: #333333;
  font-weight: 400;
}

.product-card-accommodation-type {
  color: #333333;
}

.product-card-price {
  color: #333333;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-button {
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.catalog-mailing {
  background-image: none;
  background-color: #ffffff;
}

.catalog-mailing-title {
  color: #000000;
}

.catalog-mailing-lead {
  color:#333333;
}

.catalog-mailing-input {
  background-color: #F2F2F2;
}
